body.standalone {
    background: #efefef;
}

#experiment-container {
    width: 800px;
    margin: 10px auto;
    border: 1px solid #999;
    padding: 10px 20px;
    background: white;
    box-shadow: 1px 1px 4px #aaa;
}

.experiment {
    font-size: 18px;
    font-family: 'Helvetica Neue', Arial, sans-serif;

    .exp-input {
        width: 40px;
    }

    .trial-counter {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        padding-bottom: 7px;
        border-bottom: 1px solid #ccc;
    }

    .trial {
        min-height: 300px;
    }

    button { margin-top: 5px; }

    pre { margin: 0; }
}

#submitButton { display: none; }
