body.standalone {
    background: #efefef;
}

#experiment-container {
    width: 800px;
    margin: 10px auto;
    border: 1px solid #999;
    padding: 30px 35px;
    background: white;
    box-shadow: 1px 1px 4px #aaa;
}

$font-size: 22px;
$base-color: rgb(15, 100, 141);
$light-color: #f0faff;

.experiment {
    font-size: $font-size;
    font-family: 'Helvetica Neue', Arial, sans-serif;

    h1 {
        margin-top: 0;
    }

    input {
        font-size: $font-size;

        &[type=checkbox] {
            width: 15px;
            height: 15px;
            margin-left: 10px;
            position: relative;
            top: 2px;
        }

        &[type=text] {
            margin-top: 5px;
        }
    }

    .correct-indicator {
        margin-left: 10px;
    }

    .correct {
        $color: green;

        input {
            border-color: $color;
        }

        span {
            color: $color;
        }
    }


    .incorrect {
        $color: red;

        input {
            border-color: $color;
        }

        span {
            color: $color;
        }
    }


    ul {
        li { margin-bottom: 5px; }
    }

    .exp-input {
        width: 40px;

        &.large {
            width: 400px;
        }
    }

    .trial-counter {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        padding-bottom: 7px;
        border-bottom: 1px solid #ccc;
    }

    hr {
        border-bottom: none;
        border-color: #ccc;
        margin: 15px 0;
    }

    .trial {
        min-height: 150px;
    }

    button, input[type=submit] {
        margin-top: 5px;
        font-size: $font-size;
        background-color: $light-color;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px 11px;
        cursor: pointer;

        &.primary {
            color: white;
            background-color: $base-color;
        }

        &.disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }

    pre {
        margin: 0;
    }

    .indent {
        padding-left: 15px;
        border-left: 2px solid $base-color;
    }

    .progress-bar {
        display: inline-block;
        width: 100px;
        margin: 0 10px;
    }

    .explanation > div:first-child > p:first-child {
        margin-top: 0;
    }

    .explanation-wrapper > div:last-child > p:last-child {
        margin-bottom: 0;
    }

    .function-list {
        margin-bottom: 10px;

        button { margin-left: 10px; }
    }

    .blur-line {
        color: transparent;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
        cursor: default;

        &:hover {
            color: black;
            text-shadow: 0 0 0;
        }
    }
}

#submitButton { display: none; }
